#chat {
  height: 90%;
  width: 100%;
  overflow-y: auto;
}
#input {
  width: 90%;
  height: auto;
  border: none;
  font-size: medium;
  margin-right: 3%;
}
#send_btn {
  border: none;
  border-radius: 10px;
  padding: 0 auto;
  cursor: pointer;
}
#close_chatRoom_btn {
  font-size: large;
  color: white;
  background-color: #6fb14c;
  text-align: center;
  padding: 1% 2%;
  cursor: pointer;
  border: none;
}
/* 상대방이 보낸 메시지 */
.input_Container {
  border: 1px solid black;
  margin-top: 3%;
  height: fit-content;
}

/* 접속 알림 */
.connect {
  border-radius: 10px;
  width: 90%;
  margin: auto;
  background-color: aquamarine;
  text-align: center;
  margin-top: 10px;
}

/* 접속 종료 알림 */
.disconnect {
  border-radius: 10px;
  width: 90%;
  margin: auto;
  background-color: indianred;
  text-align: center;
  margin-top: 10px;
}

/* 내가 보낸 메시지 */
.me {
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: 1%;
  background-color: lemonchiffon;
  border-radius: 10px;
  margin-top: 10px;
  text-align: right;
}
/* 상대방이 보낸 메시지 */
.other {
  width: fit-content;
  padding: 5px;
  margin-right: auto;
  margin-left: 1%;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  text-align: left;
}
.me_time {
  font-size: small;
  text-align: right;
}
.other_time {
  font-size: small;
  text-align: left;
}
