.Footer_Container {
  position: relative;
  bottom: 0;
  width: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: inherit;
  border-start-end-radius: 0;
  background-color: white;
}
.Footer_href {
  margin: 0 auto;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
}

.Bell,
.Comment,
.Cogs {
  color: #81dc50;
}
